{% extends 'user/base.html' %}
{% block content %}
<br><br>
<div class="container">
    {% include 'appointments/message.html' %}
    <div class="row">
        <div class="col-12 bg-white px-3 mb-3 pb-3">
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">User ID</p>
                            <p class="py-2 text-muted">{{ user.user_no }}</p>
                        </div>
            <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">UserName</p>
                            <p class="py-2 text-muted">{{ user.user }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Full Name</p>
                            <p class="py-2 text-muted">{{ user.name }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Email</p>
                            <p class="py-2 text-muted">{{ user.email }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="py-2">Phone</p>
                            <p class="py-2 text-muted">{{ user.mobile }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="py-2">ID Card</p>
                            <p class="py-2 text-muted">{{ user.id_card }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="py-2">Created Date</p>
                            <p class="py-2 text-muted">{{ user.created_date }}</p>
                        </div>
                    </div>

        <div class="row row-cols-2 row-cols-lg-4 visually-hidden">
      <div class="col">
        <div class="card bg-light">
          <div class="card-body">
              <div class="blood">
                <i class="fas fa-sync-alt xyz"></i>
              </div><br>
              <div>
                All Recorded Issues <br>
                  {{issues_count}}
              </div>                            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-light">
            <div class="card-body">
                <div class="blood">
                  <i class="fas fa-sync xyz"></i>
                </div><br>
                <div>
                    Solved Issues <br>
                    {{solved_count}}
                </div>                            
            </div>
          </div>
      </div>
            </div>
    </div>


</div>


{% endblock content %}
